<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">UserName</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Website</th>
        <th scope="col">Company</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <th scope="row">{{user.id}}</th>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.address | json}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.website}}</td>
        <td>{{user.company | json}}</td>
        
      </tr>
      
    </tbody>
  </table>