<div class="container">
<app-top-nav></app-top-nav>
   
    <app-header></app-header>
    <app-text1></app-text1>
    <app-text2></app-text2>
    <div class="clear"></div>

    <div >
        <div class="row">
            <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
              <input type="text"
                     placeholder="Datepicker"
                     class="form-control"
                     bsDatepicker>
            </div>
            <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
              <input type="text"
                     placeholder="Daterangepicker"
                     class="form-control"
                     bsDaterangepicker>
            </div>
          </div>
    </div>


    <hr/>
    <app-ng-if></app-ng-if>

    <hr/>
    <app-ng-switch></app-ng-switch>


    <hr/>
    <app-ng-for></app-ng-for>

</div>
