<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center" #box>
            <h3>User Name is <strong>{{usernaame}}</strong></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" style="background: aquamarine;
        padding: 88px;">
            <button (click)="getChildProperty()">get child property</button>
            <button (click)="callChildMethod()">call child method</button>
        </div>
        <div class="col-sm-6" appTestDirective style="
        padding: 88px;
        text-align: center;">
            <app-comp6></app-comp6>
        </div>
    </div>
</div>