<div class="container">
    <div class="row">
        <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">

                    <!-- form card login -->
                    <div class="card rounded shadow shadow-sm">
                        <div class="card-header">
                            <h3 class="mb-0 text-center">Login</h3>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="myReactiveForm">
                                <div class="form-group mb-2">
                                    <label for="uname1">Username</label>
                                    <input type="text" class="form-control" [class.is-invalid]="f['username']?.invalid &&
                                    f['username']?.touched" formControlName="username">
                                    <small class="text-danger" *ngIf="!f['username'].valid && f['username'].touched">
                                       <span *ngIf="f['username'].errors['required']"> Username is required !!</span>
                                       <span *ngIf="f['username'].errors['userNameNotAllowed']"> {{f['username'].value}} is not allowed !!</span>
                                       
                                    </small>
                                </div>
                                <div class="form-group mb-2">
                                    <label>Email</label>
                                    <input type="email" class="form-control" formControlName="email">
                                </div>
                                <div class="form-group mb-2">
                                    <label>Course</label>
                                    <select class="form-control" formControlName="course">
                                        <option>Please select Course</option>
                                        <option>Angular</option>
                                        <option>React</option>
                                        <option>JavaScript</option>
                                        <option>VueJs</option>
                                    </select>
                                </div>

                                <div class="form-group mb-2">
                                    <label>Your Message</label>
                                    <textarea type="" class="form-control" formControlName="message"></textarea>
                                </div>
                                <div class="form-group">
                                    <div class="maxl">
                                        <label class="radio inline">
                                            <input type="radio" formControlName="gender" name="gender" value="male"
                                                checked>
                                            <span> Male </span>
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" formControlName="gender" name="gender" value="female">
                                            <span>Female </span>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group" formArrayName="skills">
                                    <label>Skills</label>

                                    <ng-container *ngFor="let item of f['skills'].controls; index as i ">
                                    <input type="text" class="form-control mb-2" placeholder="Add Skills" formControlName="{{i}}">

                                    </ng-container>    
                                    <button class="btn btn-light btn-sm mt-3 btn-add" (click)="addSkills()"><i>+</i> Add Skills</button>
                                </div>
                                <div class="form-group" formGroupName="address">
                                    <label>Address</label>
                                    <input type="text" placeholder="Strret" class="form-control mb-2" formControlName="street">

                                    <input type="text" placeholder="City" class="form-control mb-2" formControlName="city">

                                    <input type="text" placeholder="State" class="form-control mb-2" formControlName="state">

                                    <input type="text" placeholder="Pine code" class="form-control mb-2" formControlName="postalcode">

                                    <input type="text" placeholder="Country" class="form-control mb-2" formControlName="country">

                                </div>
                                <button type="submit" class="btn btn-primary mt-4" (click)="submitData()">Submit</button>
                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->

                </div>


            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->