.header{
    background: linear-gradient(145deg,#0d47a1,#42a5f5);
    color: #000000de;
}
.logo {
    display: flex;
    width: 50%;
    min-width: 250px;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 8px;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
}
.text {
    font-size: 1rem;
    line-height: 64px;
    line-height: 6.4rem;
    font-weight: 500;
    margin: 32px 0;
    color: inherit;
}
