<div class="page-area text-center">
    <h2>subject and behaviour subject</h2>
    <div class="card">
        <div class="card-header mb-4">
          User Name : <strong class="text-success">{{userName}}</strong>
        </div>
        <!-- <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div> -->
      </div>

    <div class="row">
        <div class="col-md-6 mb-5">
            <app-comp1></app-comp1>
        </div>
        <div class="col-md-6 mb-5">
            <app-comp2></app-comp2>
        </div>
        <div class="col-md-6 mb-5">
            <app-comp3></app-comp3>
        </div>
        <div class="col-md-6 mb-5">
            <app-comp4></app-comp4>
        </div>
    </div>
</div>