<div class="topnav">
    <div class="brand">Angular 14 Project</div>
    <div class="toplinks">
        <a routerLink="features"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Feature</a>
        <a routerLink="docs"  routerLinkActive="active">Docs</a>
        <a routerLink="resources"  routerLinkActive="active">Resources</a>
        <a routerLink="events"  routerLinkActive="active">Events</a>
        <a routerLink="blogs"  routerLinkActive="active">Blogs</a>
        <a routerLink="buy-products"  routerLinkActive="active">Buy-Products</a>
    </div>
    <div class="clear"></div>
</div>


