
<div class="container">
    <div class="row gy-4">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-4 mb-5" >
                    <div class="card h-100" appTestDirective>
                        <img src="../../assets/images/cakes.avif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Cake</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some more quick example text for the card's content.</p>
                           
                            <a  routerLink="cake" class="btn btn-primary btn-small">get Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-5">
                    <div class="card h-100" appTestDirective>
                        <img src="../../assets/images/card-image.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">French Fries</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some more quick example text for the card's content.</p>
                            <a  routerLink="french" class="btn btn-primary btn-small">get Details</a>
        
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-5">
                    <div class="card h-100" appTestDirective>
                        <img src="../../assets/images/pizza.avif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Dominos Pizza</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some more quick example text for the card's content.</p>
                        <a  routerLink="pizza" class="btn btn-primary btn-small">get Details</a>
        
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-5">
                    <div class="card h-100" appTest2>
                        <img src="../../assets/images/pizza.avif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Dominos Pizza</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some more quick example text for the card's content.</p>
                        <a  routerLink="pizza" class="btn btn-primary btn-small">get Details</a>
        
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-5">
                    <div class="card h-100">
                        <img src="../../assets/images/pizza.avif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Dominos Pizza</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some more quick example text for the card's content.</p>
                        <a  routerLink="pizza" class="btn btn-primary btn-small">get Details</a>
        
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-5">
                    <div class="card h-100">
                        <img src="../../assets/images/pizza.avif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Dominos Pizza</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some more quick example text for the card's content.</p>
                        <a  routerLink="pizza" class="btn btn-primary btn-small">get Details</a>
        
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-5">
                    <div class="card h-100">
                        <img src="../../assets/images/pizza.avif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Dominos Pizza</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some more quick example text for the card's content.</p>
                        <a  routerLink="pizza" class="btn btn-primary btn-small">get Details</a>
        
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-5">
                    <div class="card h-100">
                        <img src="../../assets/images/pizza.avif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Dominos Pizza</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some more quick example text for the card's content.</p>
                        <a  routerLink="pizza" class="btn btn-primary btn-small">get Details</a>
        
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-5">
                    <div class="card h-100">
                        <img src="../../assets/images/pizza.avif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Dominos Pizza</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some more quick example text for the card's content.</p>
                        <a  routerLink="pizza" class="btn btn-primary btn-small">get Details</a>
        
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-5">
                    <div class="card h-100">
                        <img src="../../assets/images/pizza.avif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Dominos Pizza</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some more quick example text for the card's content.</p>
                        <a  routerLink="pizza" class="btn btn-primary btn-small">get Details</a>
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

